Brigitta Sipőcz        <bsipocz@gmail.com>
Brigitta Sipőcz        <bsipocz@gmail.com> <b.sipocz@gmail.com>
Dan D'Avella           <drdavella@gmail.com>
Dan D'Avella           <drdavella@gmail.com> <ddavella@stsci.edu>
E. Madison Bray        <erik.m.bray@gmail.com>
E. Madison Bray        <erik.m.bray@gmail.com> <embray@stsci.edu>
Hans Moritz Günther    <hgunther@mit.edu>
Kirill Tchernyshyov    <ktchernyshyov@pha.jhu.edu>
Leo Singer             <leo.p.singer@nasa.gov> <leo.singer@ligo.org>
Matt Davis             <jiffyclub.programatic@gmail.com>
Matteo Bachetti        <matteo@matteobachetti.it>
Matteo Bachetti         <matteo@matteobachetti.it> <matteo.bachetti@irap.omp.eu>
Michael Seifert        <michaelseifert04@yahoo.de>
Pey Lian Lim           <lim@stsci.edu> <2090236+pllim@users.noreply.github.com>
Pratik Patel           <pratikpatel15133@gmail.com>
Simon Conseil          <contact@saimon.org> <s.conseil@ip2i.in2p3.fr>
Simon Conseil          <contact@saimon.org> <sconseil@gemini.edu>
Tinuade Adeleke        <summittinuade@gmail.com>
